In [1]:
import pandas as pd

In [2]:
name = pd.Series(["Nimat", "Caleb", "Gana"])

In [3]:
name

0    Nimat
1    Caleb
2     Gana
dtype: object

In [5]:
surname = pd.Series(["Audu", "Kur", "Kabir"])

In [6]:
surname

0     Audu
1      Kur
2    Kabir
dtype: object

In [16]:
full_name = pd.DataFrame({"Name": name, "Surname": surname})

In [17]:
full_name

    Name Surname
0  Nimat    Audu
1  Caleb     Kur
2   Gana   Kabir